src/xmlprogramm/firstXmlProgramm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="livingSituation" type="livingSituationType"/>
  <xs:complexType name="AreaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="unit" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FurnitureType">
    <xs:sequence>
      <xs:element name="name" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Fernseher"/>
            <xs:enumeration value="Couch"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Description" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Eingeschaltet"/>
            <xs:enumeration value="Ausziehbar"/>
            <xs:enumeration value=" Eingeschaltet"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Ofen" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Eingeschaltet"/>
            <xs:enumeration value="Ausgeschaltet"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Fridge" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Der Kühlschrank ist zu 75% gefüllt."/>
            <xs:enumeration value="Der Kühlschrank ist zu 10% gefüllt."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Toilet" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sauber"/>
            <xs:enumeration value="Mäßig Sauber"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Shower" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Wasser läuft."/>
            <xs:enumeration value="Dusche ist ausgeschaltet."/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bed" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Doppelbett"/>
            <xs:enumeration value="Einzelbett"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Wardrobe" minOccurs="0"/>
      <xs:element type="GrillType" name="Grill" minOccurs="0"/>
      <xs:element name="Parasol" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ausgefahren!"/>
            <xs:enumeration value="Eingefahren!"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="SwimmingPool" minOccurs="0"/>
      <xs:element type="PlantsType" name="Plants" minOccurs="0"/>
      <xs:element type="xs:string" name="Television" minOccurs="0"/>
      <xs:element type="xs:string" name="Couch" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FurnituresType">
    <xs:sequence>
      <xs:element type="FurnitureType" name="Furniture" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="LivingRoomType">
    <xs:sequence>
      <xs:element type="FurnituresType" name="Furnitures"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Wohnzimmer"/>
            <xs:enumeration value="Küche"/>
            <xs:enumeration value="Badezimmer"/>
            <xs:enumeration value="Schlafzimmer"/>
            <xs:enumeration value="Balkon"/>
            <xs:enumeration value="Garten"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="AreaType" name="Area"/>
      <xs:element type="LivingRoomType" name="LivingRoom" minOccurs="0"/>
      <xs:element type="KitchenType" name="Kitchen" minOccurs="0"/>
      <xs:element type="BathType" name="Bath" minOccurs="0"/>
      <xs:element type="BedRoomType" name="BedRoom" minOccurs="0"/>
      <xs:element type="BalconyType" name="Balcony" minOccurs="0"/>
      <xs:element type="GardenType" name="Garden" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id-r" use="optional"/>
  </xs:complexType>
  <xs:complexType name="KitchenType">
    <xs:sequence>
      <xs:element type="FurnitureType" name="Furniture"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BathType">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element type="AreaType" name="Area" minOccurs="0"/>
      <xs:element type="FurnitureType" name="Furniture"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BedRoomType">
    <xs:sequence>
      <xs:element type="FurnitureType" name="Furniture"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GrillType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="art" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BalconyType">
    <xs:sequence>
      <xs:element type="FurnitureType" name="Furniture"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoomsType">
    <xs:sequence>
      <xs:element type="RoomType" name="Room" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppartementType">
    <xs:sequence>
      <xs:element type="RoomsType" name="Rooms">
        <xs:annotation>
          <xs:documentation> Wohnung </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="PlantType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id-p" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PlantsType">
    <xs:sequence>
      <xs:element type="PlantType" name="Plant" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GardenType">
    <xs:sequence>
      <xs:element type="FurnitureType" name="Furniture"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseType">
    <xs:sequence>
      <xs:element type="RoomsType" name="Rooms">
        <xs:annotation>
          <xs:documentation> Haus </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="DormType">
    <xs:sequence>
      <xs:element type="RoomsType" name="Rooms">
        <xs:annotation>
          <xs:documentation> Wohnheim </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="livingSituationType">
    <xs:sequence>
      <xs:element type="AppartementType" name="Appartement"/>
      <xs:element type="HouseType" name="House"/>
      <xs:element type="DormType" name="Dorm"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>